.ChordHelper {
  text-align: center;
  background: linear-gradient(180deg, #f5faea 0%, #b4dce1 100%),
    linear-gradient(0deg, #ffffff, #ffffff);
  height: 630px;
  width: 420px;
  border-radius: 16px;
  position: absolute;
  left: 0ch;
  /* margin-left: 33%; */
}
.heading {
  margin-top: 20px;
  font-family: monospace;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}
.searchIcon {
  position: relative;
  right: 6%;
  top: 23px;
}

.textInput {
  position: relative;
  top: 20px;
  left: 3%;
  height: 44px;
  width: 248px;
  border-radius: 10px;
  background-color: #7676801f;
  border-width: 0ch;
  font-family: monospace;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.chordDisplay1 {
  background-color: white;
  position: absolute;
  font-family: monospace;
  margin: 70px auto;
  width: 336px;
  height: 404px;
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border-radius: 10px;
  left: 10%;
}
.multi {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: auto;
  padding: 5px;
  background-color: white;
  position: absolute;
  font-family: monospace;
  margin: 50px auto;
  width: 336px;
  height: 35em;
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border-radius: 10px;
  scroll-behavior: smooth;
  left: 3em;
}
